<div class="eqLogic-widget eqLogic noResize Unifi" data-eqtype="networks"
	 style="width: 50px;height: 80px;padding : 0px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#;"
	 data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="dashboard" >
	<link rel="stylesheet" href="plugins/Unifi/core/template/css/style.css"/>
	<center class="widget-name">
		<span class="cmd cmd-status pull-right" style="width : 30px;z-index: 1030;"></span>
		<a href="#eqLink#" class="cmd group_name" data-cmd_id="#group_name_id#" style="white-space:nowrap;">#name_display#</a>
	</center>
	<div>
		<img class="img_device" src="#image#"/>
	</div>
	<script>
		jeedom.cmd.update['#active_id#'] = function(_options) {
			var id = $('.Unifi[data-eqLogic_id=#id#]');
			if(_options.display_value == '1') {
				id.css('opacity', '1');
			} else {
				id.css('opacity', '0.5');
			}
		};
		jeedom.cmd.update['#active_id#']({display_value:'#active#'});
	</script>
</div>
